@import '../../assets/styles/variables.scss';

.main__edit {
    display: flex;
    padding: 100px;
    align-items: center;

    &__container {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 2px solid $forest-green;
        border-radius: 5px;
        align-items: center;
        width: 400px;

        &__item {
            display: flex;
            flex-direction: column;
            gap: 10px;

            span {
                text-align: start;
            }

            &__edit {
                display: flex;
                gap: 8px;

                input {
                    border: none;
                    font-size: 14px;
                    border-bottom: 1px solid $mantis;
                    outline: none;
                    background: transparent;
                    padding: 0;
                    margin: 0;
                    width: 100%;
                }

                button{
                    padding: 5px;
                    width: 100px;
                    background-color: $tea-green;
                    color: #676662;
                    font-weight: 500;
                    font-size: 14px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer; 
                }
            }

            &__info {
                display: flex;
                align-items: center;
                gap: 5px;

                &__image {
                    width: 50px;
                    height: 50px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}

.iconedit {
    width: 30px;
    height: 30px;

    img {
        width: 100%;
        height: 100%;
    }
}